<!--
  Generated template for the CommNamePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      <h4></h4>
    </ion-title>
    <ion-buttons end (click)="join()">
      <button ion-button icon-only>
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end (click)="logout()">
      <button ion-button icon-only>
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <table>
    <thead>
      <tr>
        <th></th>
      </tr>
    </thead>
    </table>
    <table>
      <tr *ngFor="let dataa of arr">
        <td><b>&nbsp;&nbsp;&nbsp;{{dataa.comm_desc}}</b></td>
      </tr>
  </table>
</ion-content>


<ion-footer>
  <div padding>
    <ion-segment [(ngModel)]="evt">
      <ion-segment-button value="upcoming" ion-color="primary">
        <b>UPCOMING</b>
      </ion-segment-button>
      <ion-segment-button value="past" ion-color="primary">
        <b>PAST</b>
      </ion-segment-button>
      <ion-segment-button value="member" ion-color="primary">
       <b> MEMBERS</b>
      </ion-segment-button>
    </ion-segment>
  </div>


  <ion-item *ngFor="let dataa of arr">
  <div [ngSwitch]="evt" >
    <ion-list *ngSwitchCase="'upcoming'" >
      <ion-item *ngFor="let dataa of arr">
        <ion-thumbnail item-start>
          <img src="http://localhost:3000/images/user/{{dataa.banner_image}}">
        </ion-thumbnail>
        <h2>
          <button (click)="up(dataa.comm_id)"></button>
        </h2>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'past'">
      <ion-item >
        <ion-thumbnail item-start>
          <img src="http://localhost:3000/images/user/{{dataa.banner_image}}">
        </ion-thumbnail>
          <button (click)="past(dataa.comm_id)"></button>
        
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'member'">
      <ion-item>
        <ion-thumbnail item-start>
          <img src="http://localhost:3000/images/user/{{dataa.banner_image}}">
        </ion-thumbnail>
        <h2><button (click)="member(dataa.comm_id)"></button></h2>
      </ion-item>
    </ion-list>
  </div>
  </ion-item>
</ion-footer>