<!--
  Generated template for the CommNamePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      <h4></h4>
    </ion-title>
    <ion-buttons end (click)="join()">
      <button ion-button icon-only>
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end (click)="logout()">
      <button ion-button icon-only>
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <table>
    <thead>
      <tr>
        <th></th>
      </tr>
    </thead>
  </table>
  <table>
    <tr *ngFor="let dataa of arr">
      <td>
        <b>&nbsp;&nbsp;&nbsp;{{dataa.comm_desc}}</b>
      </td>
    </tr>
  </table>

  <div padding>
    <ion-segment [(ngModel)]="evt">
      <ion-segment-button value="upcm">
        Upcoming
      </ion-segment-button>
      <ion-segment-button value="past">
        Past
      </ion-segment-button>
      <ion-segment-button value="member">
        Member
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="evt">
    <ion-list *ngSwitchCase="'upcm'">
      <ion-item *ngFor="let dataa of ar">
        <ion-thumbnail item-start>
          <img src="https://eventhorizon1.herokuapp.com/images/event/{{dataa.image}}">
        </ion-thumbnail>
        <h2 (click)="up(dataa.e_id)" text-wrap><b>{{dataa.e_name}}</b></h2>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'past'">
      <ion-item *ngFor="let dataa of past_ar">
        <ion-thumbnail item-start>
          <img src="https://eventhorizon1.herokuapp.com/images/event/{{dataa.image}}">
        </ion-thumbnail>
        <h2 (click)="past(dataa.e_id)" text-wrap><b>{{dataa.e_name}}</b></h2>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'member'">
      <ion-item *ngFor="let dataa of mem_ar">
        <ion-thumbnail item-start>
          <!-- <img src="https://eventhorizon1.herokuapp.com/images/event/{{dataa.image}}"> -->
        </ion-thumbnail>
        <h2><b>{{dataa.user_name}}</b></h2>
      </ion-item>
    </ion-list>
  </div>

</ion-content>