<!--
  Generated template for the PastevtPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      <h4>Past Events</h4>
    </ion-title>
    <!-- <ion-buttons start>
      <button ion-button icon-only>
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-buttons end>
      <button ion-button icon-only (click)="logout()" >
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding >
  <ion-item *ngFor="let data of ar">
    <ion-card >
      <ion-card-content>Name: {{data.e_name}}</ion-card-content>
          <ion-card-content>
            Start Date: {{data.e_startdate}}
          </ion-card-content>
          <ion-card-content>End Date: {{data.e_enddate}}
          </ion-card-content>
        <ion-card-content>
            Venue: {{data.e_venue}}
        </ion-card-content>
      </ion-card>
    </ion-item>

    <ion-label>PARTICIPANTS</ion-label>
    <ion-item *ngFor="let dt of arr">
      <ion-card>
        <ion-card-content>{{dt.user_name}}</ion-card-content>
      </ion-card>
    </ion-item>


  <br><br>
  <ion-label>Comments/Feedback..</ion-label>
  <ion-item *ngFor="let dt of f">
  <ion-card >
    <ion-card-content>{{dt.f_title}}</ion-card-content>
        </ion-card>
      </ion-item>
  <ion-list>
      <ion-item>
        <ion-input type="text" placeholder="add a comment..." [(ngModel)]="desc"></ion-input>
      </ion-item>
        <ion-buttons end>
        <button ion-button icon-only small (click)="add()">
            <ion-icon name="checkbox-outline" ></ion-icon>
        </button>
      </ion-buttons>

      </ion-list>
</ion-content>