<!--
  Generated template for the UpSegPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      <h4>Upcoming Events</h4>
     
    </ion-title>
    <!-- <ion-buttons start>
      <button ion-button icon-only>
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="logout()" >
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
    <div #map id="map"></div>
<ion-item *ngFor="let dataa of ar">
<ion-card>
  <ion-card-content text-wrap>
      <b>Name: {{dataa.e_name}}</b></ion-card-content>
      <ion-card-content><b>Start Date: {{dataa.e_startdate}}</b>
      </ion-card-content>
      <ion-card-content><b>End Date: {{dataa.e_enddate}}</b>
      </ion-card-content>
    <ion-card-content text-wrap><b>
        Venue: {{dataa.e_venue}}</b>
    </ion-card-content>
    <ion-buttons end (click)="joinevt()">
      <button ion-button icon-only small>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-card>
</ion-item>

<ion-item *ngFor="let dt of arr">
  <ion-card>
    <ion-card-content><b>{{dt.user_name}}</b>
    </ion-card-content>
  </ion-card>
</ion-item>
</ion-content>
